body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.store-title{
  background-color: #0b4f6c;
  padding: 10px;
  /* width: 400px; */
  background-blend-mode: screen;
}
 .search-fieldd{
   border: 1px solid rgb(79, 79, 116);
   border-radius: 3px;
   margin-top: 50px;
   margin-bottom: 20px;
   padding:5px;
   

 }
.search-boxx{
  padding-left: 515px;

}

#search-btn{
  color: rgb(236, 240, 240);
  background-color:#36394b;
  border: none;
  padding: 7px;

}
#search-btn:hover{
  transition:0.6s;
  color: rgb(17, 19, 19);
  background-color:#a8b9f1;
  padding-left: 10px;

}
.checked {
  color: orange;
}
#all-products {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin-left: 10px;
  align-items: center;
  justify-content:center;
  gap: 10px;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: #97ddf8;
 
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid rgb(38, 39, 39);
  
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(118, 119, 118);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgb(247, 191, 199);
}
.cart-main {
  padding-right: 30px;

}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
    
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
